<!-- Name: Khanhly Nguyen U0822847
    This is an unimplemented view of the curriculumn definer. To be implemented.-->
@{
    ViewData["Title"] = "CurrDef";
}
    <header>
        <link rel="stylesheet" type="text/css" href="~/css/Learning_Outcomes.css" />
    </header>
<h1>Role Curriculumn Definer View</h1>

